.Rhistory
.RData
.Rproj.user
README.html
*/*/*twitter*.png
*.pdf
*.jpg
*.ai
*.csv
**/2023/2023_w1/Images/*
*/IBRA/
fonts_register.R
2022_w5/Dogs/*
2023/2023_w6/Logos
2023/2023_w8/paintings
!2023/2023_w14/clubs.csv